extends layout

block contenido 
    section.Seccion.SeccionAbout 
        .contenedor.contenedorAbout 
            .imagenesAbout 
                img.imgAbout1(src="/img/prendas/2362018.png", alt="celulares")
                img.imgAbout2(src="/img/prendas/7894822.png", alt="celulares")
            .About 
                h2 Sobre nosotros
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus delectus consequatur repellendus iure, nihil architecto facilis dolorem adipisci temporibus vero ratione soluta a accusantium beatae autem perferendis iusto dignissimos! Quod!

    //-- Productos --//
    section.Seccion.SeccionProductos 
        h2 Algunos de nuestros productos 
        .contenedorProducto
            .contenedor.contenedorElementos
                .Productos 
                    .Imagen 
                        img(src="/img/pngimg.com - dumbbell_PNG102663.png", alt="mancuernas")
                        h3 Mancuernas 
                        p pesas de 10kg que permite realizar ejercicios.
                .Productos 
                    .Imagen 
                        img(src="/img/pngimg.com - dumbbell_PNG102663.png", alt="mancuernas")
                        h3 Mancuernas 
                        p pesas de 10kg que permite realizar ejercicios.
                .Productos 
                    .Imagen 
                        img(src="/img/pngimg.com - dumbbell_PNG102663.png", alt="mancuernas")
                        h3 Mancuernas 
                        p pesas de 10kg que permite realizar ejercicios.

    //-- Galeria --//
    section.Seccion.SeccionGaleria 
        h2 Galeria 
        .contenedor.ContenedorImagenes 
            img.ImgGal(src="/img/proteina.png", alt="proteina")
            img.ImgGal(src="/img/rodilleras.png", alt="rodilleras")
            img.ImgGal(src="/img/calleras.png", alt="calleras")
            img.ImgGal(src="/img/leggings.png", alt="leggings")
            img.ImgGal(src="/img/creatina.png", alt="creatina")
            img.ImgGal(src="/img/botilito.png", alt="botilito")

    //-- Efecto parallax --//
    section.Seccion.ContenedorPantalla.Parallax 
        .BackgroundPantalla 
            .Contenedor.Texto 
                h2 Tiene a su servicio los mejores productos para ejercitarse!

    //--Contacto--//
    section.Seccion.SeccionInfo 
        h2 Informacion contacto 
        .Contenedor.ContenedorInfo 
            .InformacionDiv 
                .Borde 

                    p Envios a toda Bogotá 
            .InformacionDiv 
                .Borde 
                    p Productos hechos en Colombia. 
            .InformacionDiv 
                .Borde 
                    p Pagos contraentrega disponibles!